* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #222831;
  color: #fcfcfc;
  font-family: "Mozilla Text", sans-serif;
  max-width: 800px;
  width: 100%;
  margin: 32px auto;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #1f2935;
  color: #fcfcfc;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  resize: vertical;
  background-color: #1f2935;
  color: #fcfcfc;
}

button[type="submit"],
section#posts article .actions button {
  background-color: #1f2935;
  width: 100%;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #fcfcfc;
  margin: 0.1rem 0;
  padding: 0.8rem;
  text-align: center;
}

.post-form-section {
  padding: 1.5rem;
  background-color: #37485d;
  margin: 20px 0;
}

section#posts {
  padding: 1.5rem;
  background-color: #37485d;
  margin: 20px 0;
}

section#posts .empty {
  text-align: center;
}

section#posts article {
  padding-bottom: 3rem;
}

section#posts article:last-child {
  padding-bottom: 0;
}

section#posts article a {
  color: #fcfcfc;
}

section#posts article .author {
  color: #b0b0b0;
  padding-bottom: 0.5rem;
}
section#posts article .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#posts article .post-header .title {
  margin: 0;
}

section#posts article .post-header .timestamp {
  color: #b0b0b0;
}

section#posts article .actions {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
}

section#posts article .actions a {
  color: #b0b0b0;
}
